/*@import url(http://fonts.googleapis.com/css?family=Helvetica+Neue);*/

body {
    font-family: arial, sans-serif;
    /*font-family: HelveticaNeue-condensed, sans-serif;*/

    font-size: 16px;
    line-height: 20px;
    width: 400px;
    /*height: 800px;*/
}

.set {

}
.set_title {

}
.set_title .actions a {
    color: hotpink;
}

.set_content {

}

.actions {
    float: right;
    font-size: 14px;
}
.actions a {
    margin: 0 0 0 5px;
}

.tab {

}
.tab a {
    color: #41C8F0; /*blue*/

    display: inline-block; max-width: 300px; white-space: nowrap; overflow: hidden;
}
.tab .actions a {
    color: hotpink;
}


.textValue {
    font-size: 12px;
    margin: 1px;
    border: 1px solid #E0E0E0;
    background-color: #F6F6F3;
    padding: 3px;
}

/*/////////////*/

a {
    text-decoration: none;
}
a:hover {
    background: none;
    text-decoration: underline;
}